*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px; }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0; }

.navbar li a, .navbar .navbar-brand {
  color: #fff !important; }

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #696969 !important;
  background-color: #fff !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important; }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
#front {
  background-color: #222c3d;
  color: #fff;
  height: 94.5vh; }
  #front h1 {
    font-size: 4.5em; }

#front-title {
  display: none;
  position: relative;
  top: 25%; }

@media (max-width: 575px) {
  #front-title h1 {
    font-size: 3em; } }
/* ----------------------------------------------- */
/* ----------------------------------------------- */
#introduction {
  min-height: 50vh;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh; }
  #introduction p, #introduction li {
    text-align: left;
    font-size: 1.25em; }
  #introduction ul {
    padding-top: 2.5vh; }

.col-md-4 h3, .col-md-4 p {
  text-align: center; }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
#portfolio {
  background-color: #f6f6f6; }

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0; }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(0.75); }
    .thumbnail img:hover {
      box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
      filter: none;
      -webkit-filter: none; }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
#contact {
  min-height: 75vh; }

#connect {
  padding-top: 10vh;
  padding-bottom: 5vh; }

form {
  width: auto; }
  form button {
    background-color: #262626;
    color: #fff;
    width: 50vw;
    height: 8vh; }

textarea {
  height: 15vh;
  width: 50vw;
  border: 1px solid #999;
  margin-bottom: 4vh;
  vertical-align: top;
  resize: vertical; }
  textarea:focus {
    border-color: #000; }

input {
  width: 50vw;
  height: 7vh;
  border: 1px solid #999;
  margin-bottom: 4vh; }
  input:focus {
    border-color: #000; }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
footer {
  height: 10vh; }
  footer .glyphicon {
    top: 5vh;
    color: #000; }

/* ----------------------------------------------- */
/*                    ANIMATION                    */
/* ----------------------------------------------- */
.slideanim {
  visibility: hidden; }

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.affix {
  top: 0;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
